<div class="skeleton-detalhe">
  <div class="skeleton-detalhe__cabecalho">
    <div class="skeleton-detalhe__titulos">
      <app-skeleton largura="220px" altura="28px" />
      <app-skeleton largura="140px" altura="16px" />
    </div>
    <app-skeleton largura="100px" altura="36px" raio="8px" />
  </div>

  <app-skeleton largura="100%" altura="280px" raio="12px" />

  <div class="skeleton-detalhe__linhas">
    <app-skeleton largura="100%" altura="14px" />
    <app-skeleton largura="92%" altura="14px" />
    <app-skeleton largura="78%" altura="14px" />
  </div>
</div>
